body {
  background-color: rgba(248,249,250,1);
  opacity: 1;
  display: flex;
  min-height: 100vh!important;
  flex-direction: column!important;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
};

*, ::after, ::before {
  box-sizing: border-box;
};

@media (min-width: 576px) {
  .container,.container-sm {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container,.container-md,.container-sm {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container,.container-lg,.container-md,.container-sm {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl {
      max-width:1140px
  }
}

@media (min-width: 1400px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
      max-width:1320px
  }
}

body > div {
  display: flex;
  flex-direction: column; 
  min-height:100vh!important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
};
p {
  margin-top: 0;
  margin-bottom: 1rem;
}