.navbar {
  background-color: white;
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
  margin-right: auto;
  margin-left: auto;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.nav-link {
  display: block;
  padding: 0.5rem 0.5rem;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgba(0,0,0,0.55);
  text-decoration: none;
}

.auto {
  margin-right: auto;
}

.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}